/.idea
/app/*
!/app/Http
!/app/Models
/bootstrap
/config
/public/plugins/*
/public/storage
/public/bootstrap
/public/dist
/public/libs
/resources/*
!/resources/views
/storage
/vendor
/node_modules
Homestead.json
Homestead.yaml
.env
